doctype html
html(lang='en')
 head
    title Suzette's Page
    meta(
        name='viewport'
        content='width=device-width, initial-scale=1'
    )
    link(
        rel='stylesheet'
        href='../css/styles.css'
        type='text/css'
    )
    script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src = '../js/transition.js')

 body
    button#intro_button GET TO KNOW ME

    .intro_image
        
